* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header > .container,
footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #8f000e;
    padding: 10px;
    color:#ffffff;
}

.clear {
    clear: both;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 380px;
    margin-right: 24px;
}

section {
    padding-top: 30px;
    align-items: center;
}

section h2 {
    margin-bottom: 16px;
}

.lista-bolsas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.lista-bolsas li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    height: 100%;
}

.lista-bolsas li img {
    width: 100%;
    max-width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 16px;

}

.lista-bolsas li h3 {
    padding: 16px;
    font-size: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #8f000e;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: auto;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del{
    color:#ccc;
    font-size: 14px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    padding-top: 8px;
    height: 32px;
}

@media screen and (max-width: 767px) {
    .lista-bolsas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    }

    .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    }

    .container-flex {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
    }

    #sobre-a-loja img {
        margin-right: 0;
        margin-bottom: 16px;
        max-width: 100%;
    }

    header > .container {
        flex-direction: column;
        gap: 12px;
    }
}