* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

header > .container
footer > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #8f000e;
    padding: 10px;
    color:#ffffff;
}

.clear {
    clear: both;
}

nav {
    margin-left: 70%;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.container-flex {
    display: flex;
}


#sobre-a-loja img {
    max-width: 380px;
    margin-right: 24px;
}

section {
    padding-top: 30px;
    align-items: center;
}

section h2 {
    margin-bottom: 16px;

}

.lista-bolsas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-left: 0;
}

.lista-bolsas li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 15px;
}

.lista-bolsas li img {
    width: 100%;
    max-width: 220px;
    height: 220px;
    object-fit: contain;
    margin-bottom: 16px;

}

.lista-bolsas li h3 {
    padding: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #8f000e;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: auto;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del{
    color:#ccc;
    font-size: 14px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    padding-top: 8px;
    height: 32px;
}

@media (min-width: 641px) and (max-width: 1023px) {
    .container{
        padding: 10px;
    }
}